@import 'functions';

.cards {
  &__text {
    
    &__number {
      position: absolute;
      letter-spacing: rem(2.5);
      left: rem(40);
      top: rem(210);
      font-size: rem(16);
      color: var(--white);

      @include media('medium') {
        left: 18rem;
        top: 16.1rem;
        font-size: 1.5rem;
      }
    }

    &__name {
      position: absolute;
      left: rem(40);
      top: rem(250);
      font-size: rem(9);
      text-transform: uppercase;
      letter-spacing: rem(1.2);
      color: var(--light-violet);
      
      @include media('medium') {
        left: 18rem;
        top: 19rem;
        font-size: 1rem;
      }
    }

    &__expiration {
      position: absolute;
      left: rem(240);
      top: rem(250);
      font-size: rem(9);
      letter-spacing: rem(1.2);
      color: var(--light-violet);

      @include media('medium') {
        left: 35rem;
        top: 19.1rem;
        font-size: rem(15);
      }
    }
  }
}

#card-back {
  display: block;
  width: rem(285);
  position: absolute;
  left: rem(70);
  top: rem(30);

    @include media('medium') {
      width: 25rem;
      left: 11rem;
      top: 24rem;
    }
}

#card-front {
  display: block;
  width: rem(285);
  position: absolute;
  left: rem(20);
  top: rem(130);

    @include media('medium') {
      width: 25rem;
      left: 15.7rem;
      top: 8.7rem;
    }
}

#card-logo {
  position: absolute;
  width: rem(50);
  top: rem(150);
  left: rem(40);

  @include media('medium') {
    width: rem(70);
    left: 17.3rem;
    top: 10rem;
  }
}